<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cafe_SYS.My.MySettings.Cafe_SYSConnectionString" connectionString="Data Source=DESKTOP-KTDP3JR\SQLEXPRESS;Initial Catalog=Cafe_SYS;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
